@tailwind base;
@tailwind components;
@tailwind utilities;

/* dein eigenes CSS darunter */

@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600&family=Inter:wght@400;500&display=swap");

/* Hier kannst du später wieder dein eigenes CSS ergänzen */